* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  flex: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

#game {
  flex: 1;
  #plateau {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);

    .square {
      width: 100%;
      height: 100%;
      &.black {
        background-color: #2e1b0f;
      }
      &.white {
        background-color: #fffaf6;
      }
      &.glow {
        border: 4px solid rgb(37, 232, 27);
      }
    }
  }

  .piece {
    background-image: url("/images/pieces.png");
    @for $i from 1 through 6 {
      $x = $i * 213;
    }
  }
}
