$black: #2e1b0f;
$white: #fffaf6;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  flex: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

#squareContainer {
    width: 100%;
    padding-top: 100%;
    position: relative;

    #game {
      flex: 1;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border: 2px solid black;

      &.white .piece.white {
        pointer-events: all;
      }

      &.black .piece.black {
        pointer-events: all;
      }

      #choosePane {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(#555, 0.4);
          display: flex;
          justify-content: center;
          align-items: center;
          &>div {
              background-color: white;
              width: 90%;
              height: 35%;
              border-radius: 4px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              padding: 20px 80px;

              h2 {
                  text-align: center;
                  margin-top: 0;
              }

              &>div {
                  width: 100%;
                  padding-top: 25%;
                  position: relative;
                  border: 1px solid $black;

                  &>div {
                      position: absolute;
                      left: 0;
                      right: 0;
                      bottom: 0;
                      top: 0;
                      display: grid;
                      grid-template: 1fr / repeat(4, 1fr);

                      .square {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:nth-child(2n+1) {
                          background-color: $white;
                        }
                        &:nth-child(2n) {
                          background-color: $black;
                        }
                        .piece {
                          position: relative;
                        }
                      }
                  }
              }
          }
      }

      #plateau {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template: repeat(8, 1fr) / repeat(8, 1fr);
      }

      .square {
          width: 100%;
          height: 100%;
          &.black {
              background-color: $black;
          }
          &.white {
              background-color: $white;
          }
          &.glow {
              border: 8px solid rgb(37, 232, 27);
          }
          &.selected {
              background-color: rgb(185, 6, 6) !important;
          }
          &.attacked {
              border: 8px solid rgb(185, 6, 6);
          }
          &.roque {
              border: 8px solid rgb(54, 152, 255);
          }
          &.echec {
              background-color: #ebad1e;
          }
      }

      .piece {
        pointer-events: none;
        background-image: url("/images/pieces.png");
        width: 102px;
        height: 102px;
        background-size: 612px 204px;
        position: absolute;
        transition: all 0.3s ease;
        //Default for one : 213
        &.black {
          background-position-y: 100%;
        }
        &.white {
          background-position-y: 0%;
        }
        &.roi {
          background-position-x: calc((100% / 5) * 0);
        }
        &.reine {
          background-position-x: calc((100% / 5) * 1);
        }
        &.fou {
          background-position-x: calc((100% / 5) * 2);
        }
        &.cavalier {
          background-position-x: calc((100% / 5) * 3);
        }
        &.tour {
          background-position-x: calc((100% / 5) * 4);
        }
        &.pion {
          background-position-x: calc((100% / 5) * 5);
        }
      }
    }
}
